header {
    .contenedor {
        background: $backColor;
        width: 100%;
        height: 220px;

        .mensajeTop {
            background-color: $roseColor;
            width: 100%;

            .top {
                color: #ffffff;
                text-align: center;
                font-weight: 200;
                font-size: 1.3rem;
                font-family: $font;
            }
        }

        .enlace {
            margin: 0 5%;
            float: left;

            .logo {
                max-width: 9rem;
                margin-left: 90%;
            }
        }

        .buscador {
            width: 90%;
            text-align: center;
            align-items: center;
            margin-top: 70px;
            margin: 70px -8% 0;
           

            .search {
                width: 40%;
                padding: 10px 15px;
                border-radius: 20px;
                border: 1.5px solid $fucsiaColor;
                font-family: $font;
            }
        }
    }


    .menuFlex {
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-underline {
            list-style: none;
            display: flex;
           gap: 2rem;
            padding: 1rem;
            margin: 0;

            .nav-link {
                text-decoration: none;
                color: $orangeColor;
                font-size: 1.3rem;
                font-weight: 500;
                font-family: $font;

                &:hover {

                    color: $yellowColor;
                }
            }
        }
    }

   
}